@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@300;400;500;600&display=swap');
* {
    font-family: 'poppins', sans-serif;
}
body {
    background-color: rgb(37, 37, 37);
}
#qrInput {
    padding: 9px;
}
input[type="text"] {
    width: 9.5%;
    box-sizing: border-box;
}
#qrHeading {
display: flex; justify-content: center; align-items: center;
color: white;
}
.container {
    display: flex; justify-content: center; align-items: center;

}
.container2 {
     display: flex; justify-content: center; align-items: center;
     padding: 6px;
}
#qrBtn {
    border-radius: 11px;
    cursor: pointer;
    background: linear-gradient(45deg, rgb(228, 53, 53), rgb(56, 101, 223));
    box-shadow: 0 0 11px #3adcf1;
    transition: 0.6s ease;
    animation: pulse 2s infinite;;
}
#qrBtn:hover {
    box-shadow: 0 0 15px #3adcf1;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 5px #3adcf1, 0 0 10px #3adcf1;
    }
    50% {
        box-shadow: 0 0 20px #3adcf1, 0 0 6px #3adcf1;
    }
    100% {
        box-shadow: 0 0 5px #3adcf1, 0 0 10px #3adcf1;
    }
}
#spinner {
  display: none;
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;    
  border-top: 5px solid rgb(85, 212, 221); 
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto; 
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#qrcode {
    display: flex;
  justify-content: center;
  align-items: center;
}
#warning {
color: red;
font-size: 14px;
margin-top: 5px;
display: flex; justify-content: center; align-items: center;
}
#copyLink {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(37, 37, 37);
   border: none;
   cursor: pointer;
}
#copyPopup {
  width: 110px;
  background: #30abe4;  /* green success color */
  color: white;
  padding: 10px 13px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#copyPopup.show {
  opacity: 1;
}

